<div class="ads">
	<script type="text/javascript"><!--
		google_ad_client = "ca-pub-5916589535446865";
		/* SnickSnaps Top */
		google_ad_slot = "7517938444";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>
</div>
<% @products.each do |product| %>
	<a href="<%= product.link %>" title="<%= product.title%>" target="_blank">
	<div class="item">
		<div class="image">
			<%= image_tag product.img, :alt => @title, :title => @title , :width => "265px", :height => "180px" %>
		</div>
		<div class="item-bottom">
			<div class="price">
				<%= product.price %>
			</div>
			<div class="info">
				<a href="<%= product.link %>" title="<%= product.title %>" target="_blank"><%= product.title[0..18]+ "..." %></a>
				<p class="location"><%= product.location[0..20].upcase %></p>
			</div>
			<div class="clear"></div>
		</div>
		<span class="lower-shadow"><span>
		<div class="clear"></div>
	</div>
	</a>
<% end %>
<div class="clear"></div>
<div class="ads">
	<script type="text/javascript"><!--
		google_ad_client = "ca-pub-5916589535446865";
		/* SnickSnaps */
		google_ad_slot = "6735976035";
		google_ad_width = 728;
		google_ad_height = 90;
		//-->
	</script>
	<script type="text/javascript"
	src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
	</script>

	<div id="fb-root"></div>
<script>(function(d, s, id) {
 var js, fjs = d.getElementsByTagName(s)[0];
 if (d.getElementById(id)) return;
 js = d.createElement(s); js.id = id;
 js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=103916823050091";
 fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like-box" data-href="https://www.facebook.com/SnickSnaps" data-width="600" data-height="170" data-show-faces="true" data-stream="false" data-header="false"></div>

</div>
<%= will_paginate @products, :page_links => true  %>
