	<% @products.each do |product| %>
		<a href="<%= product.link %>" title="<%= product.title[0..13]+ "..." %>">
		<div class="item">
			<div class="image">
				<%= image_tag product.img, :alt => @title, :title => @title , :width => "280px", :heightt => "210px" %>
			</div>			
			<div class="item-bottom">
				<div class="price">
					<%= product.price %>
				</div>
				<div class="info">
					<a href="<%= product.link %>" title="<%= product.title[0..13]+ "..." %>"><%= product.title[0..13]+ "..." %></a>				
					<p class="location"><%= product.location[0..15] %></p>
				</div><div class="clear"></div>
			</div><div class="clear"></div>
		</div>
		</a>
	<% end %>
	<%= will_paginate @products, :page_links => false  %>